<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="format-detection" content="telephone=no">
        <title>Document</title>

        <!-- JQuery -->
        <script src="assets/js/jquery-3.3.1.min.js"></script>
        <!-- Reference -->
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/custom.css">
        <script src="assets/js/custom.js"></script>
    </head>

<style>
    
    @media screen and (max-width: 680px) {
    }
</style>

<div class="wrap bg-color-secondary" id="p01">
    <!-- 메인 -->
    <div id="main">
        <!-- 로딩 페이지 -->
        <div id="body" class="loading">
            <!-- 메인 로고 -->
            <div class="app-loading">
                <div class="main-logo">
                    <img src="assets/img/group-2@3x.png" alt="loading-image"/>
                </div>
            </div>
    
            <!-- 온보딩 - 회원가입-->
            <div class="toast-onboarding">
                <div class="onboarding-button">
                    <a class="button bg-color-kakao"><img src="assets/img/icon-brand_kakao.svg" alt=""/><span class="color-black">카카오 계정으로 로그인</span></a>
                    <a class="button bg-color-naver"><img src="assets/img/icon-brand_naver.svg" alt=""/><span class="color-white">네이버 계정으로 로그인</span></a>
                    <a class="button bg-color-primary"><img src="assets/img/icon-email.svg" alt=""/><span class="color-white">이메일 계정으로 로그인</span></a>
                    <a class="button bg-color-white"><span class="color-primary border-bottom border-color-primary">회원가입</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
</script>