<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="format-detection" content="telephone=no">
        <title>Document</title>

        <!-- JQuery -->
        <script src="assets/js/jquery-3.3.1.min.js"></script>
        <!-- Reference -->
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/custom.css">
        <script src="assets/js/custom.js"></script>
    </head>

<style>
    
    @media screen and (max-width: 680px) {
    }
</style>

<div class="wrap" id="p07">
    <!-- 오버레이 처리 -->
    <div id="overlay"></div>

    <!-- 메인 -->
    <div id="main">
        <div id="header" class="">
            <div class="header-button">
                <a class="button-back"><img src="assets/img/icon-arrow_left.svg" alt=""></a>
            </div>
        </div>

        <!-- 바디 -->
        <div id="body" class="home">
            <div class="inner-20">
                <!-- 탭 아이템 -->
                <div class="tab-wrapper">
                    <!-- 탭 컨테이너 -->
                    <div class="tab-container">
                        <!-- 탭1 -->
                        <div class="tab tab01 "> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz24 fw600 color-primary">차량 브랜드를 <br>선택해주세요!</div>
                            </div>
            
                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="brand_item-list">
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-img"><img src="assets/img/bitmap@3x.png" alt=""></div>
                                        <div class="item-desc">BMW</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 탭2 -->
                        <div class="tab tab02 active"> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz24 fw600 color-primary">차량 번호를 <br>입력해주세요.</div>
                            </div>
            
                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="form-insert">
                                    <div class="item-input">
                                        <input class="border-none fz28" type="text" placeholder="입력해주세요.">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 탭3 -->
                        <div class="tab tab03 "> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz24 fw600 color-primary">모델을 <br>선택해주세요.</div>
                            </div>
            
                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="select_item-list">
                                    <div class="item toggle-select  active">
                                        <div class="item-desc">A3</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">A4</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">A5</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">A6</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">A7</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">A8</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 탭4 -->
                        <div class="tab tab04 "> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz24 fw600 color-primary">세부 모델을 <br>선택해주세요.</div>
                            </div>
            
                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="select_item-list">
                                    <div class="item toggle-select active">
                                        <div class="item-desc">A6(C8)</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">뉴 A6</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">A6</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">A6</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 탭5 -->
                        <div class="tab tab05 "> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz24 fw600 color-primary">등급을 <br>선택해주세요.</div>
                            </div>
            
                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="select_item-list">
                                    <div class="item toggle-select active">
                                        <div class="item-desc">40 TFI</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">44 TSI</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">48 TDI</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 탭6 -->
                        <div class="tab tab06 "> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz14 fw400 color-primary mb-5">배기량은 2,000CC 입니다.</div>
                                <div class="fz24 fw600 color-primary">연식을 선택해주세요.</div>
                            </div>
            
                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="select_item-list">
                                    <div class="item toggle-select active">
                                        <div class="item-desc">2021년식</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">2020년식</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">2019년식</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">2018년식</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">2017년식</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">2016년식</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">2015년식</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">2014년식</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">2013년식</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">2012년식</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">2011년식</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">2010년식</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 탭7 -->
                        <div class="tab tab07 "> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz24 fw600 color-primary">사고유무를 <br>선택해주세요.</div>
                            </div>
            
                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="select_item-list">
                                    <div class="item toggle-select active">
                                        <div class="item-desc">무사고</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">단순교환</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">보험사고</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">특수사고(전손/침수)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 탭8 -->
                        <div class="tab tab08 "> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz24 fw600 color-primary">연료를 <br>선택해주세요.</div>
                            </div>
            
                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="select_item-list">
                                    <div class="item toggle-select active">
                                        <div class="item-desc">가솔린</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">디젤</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">LPG</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">가솔린(LPG겸용)</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">가솔린(CNG겸용)</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">가솔린 하이브리드</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">전기</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">수소</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 탭9 -->
                        <div class="tab tab09 "> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz24 fw600 color-primary">미션을 <br>선택해주세요.</div>
                            </div>
            
                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="select_item-list">
                                    <div class="item toggle-select active">
                                        <div class="item-desc">자동</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">수동</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">CVT</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">듀얼클러치</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 탭10 -->
                        <div class="tab tab10 "> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz24 fw600 color-primary">색상을 <br>선택해주세요.</div>
                            </div>
            
                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="select_item-list">
                                    <div class="item toggle-select active">
                                        <div class="item-desc">흰색</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">남색</div>
                                    </div>
                                    <div class="item toggle-select">
                                        <div class="item-desc">검은색</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 탭11 -->
                        <div class="tab tab11 "> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz24 fw600 color-primary">주행거리를 <br>입력해주세요.</div>
                            </div>
            
                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="form-insert">
                                    <div class="item-input">
                                        <input class="border-none fz28 fw600" type="text" placeholder="입력해주세요.">
                                        <span class="input-unit">KM</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 탭12 -->
                        <div class="tab tab12 "> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz24 fw600 color-primary">주요 옵션을 <br>입력해주세요.</div>
                            </div>
            
                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="form-insert">
                                    <div class="item-input mb-10">
                                        <input class="" type="text" placeholder="첫 번째 옵션">
                                    </div>
                                    <div class="item-input mb-10">
                                        <input class="" type="text" placeholder="두 번째 옵션">
                                    </div>
                                    <div class="item-input mb-10">
                                        <input class="" type="text" placeholder="세 번째 옵션">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 탭13 -->
                        <div class="tab tab13 "> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz24 fw600 color-primary">고객 정보를 <br>입력해주세요.</div>
                            </div>
            
                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="form-insert">
                                    <div class="item-input">
                                        <div class="input-text">고객명</div>
                                        <input class="" type="text" placeholder="고객명을 입력해주세요.">
                                    </div>
                                    <div class="item-input">
                                        <div class="input-text">고객 연락처</div>
                                        <input class="" type="text" placeholder="고객 연락처를 입력해주세요.">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 탭 프로그레스 -->
        <div id="progress-bar" class="p4"> <!-- 프로그레스 진행률에 따라 class "p0 ~ p10" 부여 -->
            <img class="progress-0" src="assets/img/progress-0.svg" alt="">
            <img class="progress-1" src="assets/img/progress-1.svg" alt="">
            <img class="progress-2" src="assets/img/progress-2.svg" alt="">
            <img class="progress-3" src="assets/img/progress-3.svg" alt="">
            <img class="progress-4" src="assets/img/progress-4.svg" alt="">
            <img class="progress-5" src="assets/img/progress-5.svg" alt="">
            <img class="progress-6" src="assets/img/progress-6.svg" alt="">
            <img class="progress-7" src="assets/img/progress-7.svg" alt="">
            <img class="progress-8" src="assets/img/progress-8.svg" alt="">
            <img class="progress-9" src="assets/img/progress-9.svg" alt="">
            <img class="progress-10" src="assets/img/progress-10.svg" alt="">
        </div>
        <!-- 탭 버튼 -->
        <div class="button-tab-next"><img src="assets/img/button_next.svg" alt=""></div>
    </div>
</div>

<script>
</script>