<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="format-detection" content="telephone=no">
        <title>Document</title>

        <!-- JQuery -->
        <script src="assets/js/jquery-3.3.1.min.js"></script>
        <!-- Reference -->
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/custom.css">
        <script src="assets/js/custom.js"></script>
    </head>

<style>
    
    @media screen and (max-width: 680px) {
    }
</style>

<div class="wrap" id="alert">
    <!-- 오버레이 처리 -->
    <div id="overlay"></div>

    <!-- 메인 -->
    <div id="main">
        <div id="header" class="">
            <div class="header-button">
                <a class="button-back"><img src="assets/img/icon-arrow_left.svg" alt=""></a>
            </div>
        </div>

        <!-- 바디 -->
        <div id="body" class="home">
            <div class="inner">
                <!-- 앱 내용 -->
                <div class="form-post new">
                    <div class="post-header">
                        <div class="title">123가1234 가이드가 도착했습니다.</div>
                        <div class="date">2020.04.23</div>
                    </div>
                    <div class="post-body">
                        <textarea>123가1234 가이드가 도착했습니다.</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 팝업 -->
    <div class="popup"></div>
</div>

<script>
</script>