<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{layout/common :: head}"></th:block>
</head>
<style>
    @media screen and (max-width: 680px) {
    }
</style>
<th:block th:insert="~{layout/common :: script}"></th:block>

<div class="wrap" id="p07">
    <!-- 오버레이 처리 -->
    <div id="overlay"></div>

    <!-- 메인 -->
    <div id="main">
        <div id="header" class="">
            <div class="header-button">
                <a onclick="javascript:back(); return false;" class="button-back"><img th:src="@{/assets/img/icon-arrow_left.svg}" src="" alt=""></a>
            </div>
        </div>

        <input id="guideTempId" type="hidden" th:value="${guideTempId}">

        <!-- 바디 -->
        <div id="body" class="home">

            <div class="inner-20">
                <!-- 탭 아이템 -->
                <div class="tab-wrapper">
                    <!-- 탭 컨테이너 -->
                    <div class="tab-container">

                        <div class="tab tab13 active"> <!-- 탭 아이템 활성화 class "active" -->
                            <!-- 탭 타이틀 -->
                            <div class="tab-title">
                                <div class="fz24 fw600 color-primary">고객 정보를 <br>입력해주세요.</div>
                            </div>

                            <!-- 탭 내용 -->
                            <div class="tab-content mt-35">
                                <div class="form-insert">
                                    <div class="item-input">
                                        <div class="input-text">고객명</div>
                                        <input id="customerName" class="" type="text" placeholder="고객명을 입력해주세요.">
                                    </div>
                                    <div class="item-input">
                                        <div class="input-text">고객 연락처</div>
                                        <input id="customerContact" class="" type="number" placeholder="고객 연락처를 입력해주세요.">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- 탭 프로그레스 -->
        <div id="progress-bar" class="p10"> <!-- 프로그레스 진행률에 따라 class "p0 ~ p10" 부여 -->
            <img class="progress-0" th:src="@{/assets/img/progress-0.svg}" src="assets/img/progress-0.svg" alt="">
            <img class="progress-1" th:src="@{/assets/img/progress-1.svg}" src="assets/img/progress-1.svg" alt="">
            <img class="progress-2" th:src="@{/assets/img/progress-2.svg}"src="assets/img/progress-2.svg" alt="">
            <img class="progress-3" th:src="@{/assets/img/progress-3.svg}"src="assets/img/progress-3.svg" alt="">
            <img class="progress-4" th:src="@{/assets/img/progress-4.svg}"src="assets/img/progress-4.svg" alt="">
            <img class="progress-5" th:src="@{/assets/img/progress-5.svg}"src="assets/img/progress-5.svg" alt="">
            <img class="progress-6" th:src="@{/assets/img/progress-6.svg}"src="assets/img/progress-6.svg" alt="">
            <img class="progress-7" th:src="@{/assets/img/progress-7.svg}"src="assets/img/progress-7.svg" alt="">
            <img class="progress-8" th:src="@{/assets/img/progress-8.svg}"src="assets/img/progress-8.svg" alt="">
            <img class="progress-9" th:src="@{/assets/img/progress-9.svg}"src="assets/img/progress-9.svg" alt="">
            <img class="progress-10" th:src="@{/assets/img/progress-10.svg}"src="assets/img/progress-10.svg" alt="">
        </div>
        <!-- 탭 버튼 -->
        <div onclick="javascript:goToNext(); return false;" class="button-tab-next"><img th:src="@{/assets/img/button_next.svg}" src="" alt=""></div>
    </div>

    <div class="popup popup-my_info "> <!-- 팝업 활성화 class "active" -->
        <div class="popup-inner">
            <div class="popup-header">
                <div class="popup-title">가이드 신청 완료</div>
                <!--
                <div class="btn-close_popup"><img th:src="@{/assets/img/icon-close.svg}" src="" alt=""></div>
                -->
            </div>
            <div class="popup-body">
                <div class="form-insert">
                    <div class="item-input">
                        <div class="input-text">가이드 신청이 완료되었습니다.</div>
                    </div>
                    <div class="item-input">
                        <div class="input-text">관리자 확인 후 빠르게 처리하여 드리겠습니다.</div>
                    </div>
                </div>
            </div>
            <div class="popup-footer">
                <a onclick="javascript:guideFinish();" class="btn-ok_popup button bg-color-primary"><span class="color-white">확인</span></a>
            </div>
        </div>
    </div>

    <div id="modal_noti" class="popup popup-join-success "> <!-- 팝업 활성화 class "active" -->
        <div class="popup-inner">
            <div class="popup-header">
                <div class="popup-title">가이드</div>
                <!--
                <div class="btn-close_popup"><img th:src="@{/assets/img/icon-close.svg}" src="" alt=""></div>
                -->
            </div>
            <div class="popup-body">
                <div class="form-insert">
                    <div class="item-input">
                        <div class="input-text">가이드 신청</div>
                    </div>
                    <div class="item-input">
                        <div id="modal_body" class="input-text"></div>
                    </div>
                </div>
            </div>
            <div class="popup-footer">
                <a onclick="javascript:closeModal();" class="btn-ok_popup button bg-color-primary"><span class="color-white">확인</span></a>
            </div>
        </div>
    </div>


</div>


<script>
    let guideTempId = "";
    let customerName = "";
    let customerContact = "";

    function guideFinish() {
        $('#overlay').removeClass('active');
        $('.popup-my_info').removeClass('active');
        Common.goPage("/user/guide");
    }

    function showModal() {
        $('#overlay').addClass('active');
        $('#modal_noti').addClass('active');
    }
    function closeModal() {
        $('#overlay').removeClass('active');
        $('#modal_noti').removeClass('active');
    }


    function goToNext() {
        guideTempId = $('#guideTempId').val();
        customerName = $('#customerName').val();
        customerContact = $('#customerContact').val();
        if(!customerName) {
            $('#modal_body').text('고객명을 입력해주세요');
            showModal();
            return;
        }
        if(!customerContact) {
            $('#modal_body').text('고객연락처를 입력해주세요');
            showModal();
            return;
        }
        //Service.requestGuide();

        let url = `/user/guide/car_option?guideTempId=${guideTempId}`;
        url += `&step=1`
        url += `&customerName=${customerName}`
        url += `&customerContact=${customerContact}`
        Common.goPage(url);

    }


    $(function(){

    });

    let Service = {
        requestGuide : function () {
            let obj = {};
            obj.guideTempId = guideTempId;
            obj.customerName = customerName;
            obj.customerContact = customerContact;

            var url = "/api/user/v1/guide";
            var ajaxParam = {
                "url": url,
                "type": "POST",
                "data": JSON.stringify(obj)
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert(data.message);
                    return;
                } else {
                    //alert(data.message);
                    $('#overlay').addClass('active');
                    $('.popup-my_info').addClass('active');
                }
                return;
            });
        }

    }


</script>