<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <th:block th:insert="~{layout/common :: head}"></th:block>
    </head>
<style>
    @media screen and (max-width: 680px) {
    }
</style>
    <th:block th:insert="~{layout/common :: script}"></th:block>
    <div class="wrap" id="p05">
        <!-- 오버레이 처리 -->
        <div id="overlay"></div>

        <!-- 메인 -->
        <div id="main">
            <div id="header" class="">
                <div class="header-button">
                    <a onclick="javascript:Common.goBackPage(); return false;" class="button-back"><img th:src="@{/assets/img/icon-arrow_left.svg}" src="" alt=""></a>
                </div>
            </div>

            <!-- 바디 -->
            <div id="body" class="onboarding">
                <div class="inner">
                    <!-- 앱 타이틀 -->
                    <div class="app-title mt-20">
                        <div class="fz24 fw600 color-black">비밀번호 변경</div>
                    </div>

                    <!-- 앱 내용 -->
                    <div class="app-content">
                        <div class="form-insert">
                            <div class="item-input">
                                <div class="input-text">비밀번호</div>
                                <input id="member_password" class="" type="password" placeholder="변경할 비밀번호를 입력해주세요.">
                            </div>
                            <div class="item-input">
                                <div class="input-text">비밀번호 확인</div>
                                <input id="member_password_again" class="" type="password" placeholder="비밀번호를 한 번 더 입력해주세요.">
                                <div id="invalid_password" class="text-notice error ">비밀번호가 다릅니다.</div>
                            </div>
                        </div>
                        <div class="form-submit">
                            <div class="item-checkbox mt-45">
                                <div class="login-button mt-15">
                                    <a onclick="javascript:changePassword(); return false;" class="button bg-color-primary"><span class="color-white">확인</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 푸터 -->
                <div id="footer"></div>
            </div>

            <!-- 팝업 -->
            <div class="popup"></div>
        </div>


        <div id="modal_success" class="popup popup-my_info "> <!-- 팝업 활성화 class "active" -->
            <div class="popup-inner">
                <div class="popup-header">
                    <div class="popup-title">비밀번호변경</div>
                    <!--
                    <div class="btn-close_popup"><img th:src="@{/assets/img/icon-close.svg}" src="" alt=""></div>
                    -->
                </div>
                <div class="popup-body">
                    <div class="form-insert">
                        <div class="item-input">
                            <div id="modal_title" class="input-text"></div>
                        </div>
                        <div class="item-input">
                            <div id="modal_body" class="input-text"></div>
                        </div>
                    </div>
                </div>
                <div class="popup-footer">
                    <a onclick="javascript:goToMyPage();" class="btn-ok_popup button bg-color-primary"><span class="color-white">확인</span></a>
                </div>
            </div>
        </div>

        <div id="modal_fail" class="popup popup-my_info "> <!-- 팝업 활성화 class "active" -->
            <div class="popup-inner">
                <div class="popup-header">
                    <div class="popup-title">비밀번호변경</div>
                    <!--
                    <div class="btn-close_popup"><img th:src="@{/assets/img/icon-close.svg}" src="" alt=""></div>
                    -->
                </div>
                <div class="popup-body">
                    <div class="form-insert">
                        <div class="item-input">
                            <div id="modal_title_fail" class="input-text"></div>
                        </div>
                        <div class="item-input">
                            <div id="modal_body_fail" class="input-text">비밀번호 변경이 실패하였습니다. 다시 시도하여 주세요.</div>
                        </div>
                    </div>
                </div>
                <div class="popup-footer">
                    <a onclick="javascript:closeModal();" class="btn-ok_popup button bg-color-primary"><span class="color-white">확인</span></a>
                </div>
            </div>
        </div>

    </div>
<script>

    function goToMyPage() {
        Common.goPage("/user/mypage");
    }
    function closeModal() {
        $('#overlay').removeClass('active');
        $('#modal_fail').removeClass('active');
    }
    function changePassword() {

        if(!$('#member_password').val()) {
            $('#invalid_password').addClass('active');
            return false;
        }
        if(!$('#member_password_again').val()) {
            $('#invalid_password').addClass('active');
            return false;
        }
        if($('#member_password').val() != $('#member_password_again').val()) {
            $('#invalid_password').addClass('active');
            return false;
        }
        Service.updateMyInfo();
    }


    $(function(){

    });
    let Service = {
        updateMyInfo: function () {
            var url = "/api/user/v1/member/password";
            let updateObj = {};
            updateObj.password = $('#member_password').val();
            var ajaxParam = {
                "url": url,
                "type": "PUT",
                "data": JSON.stringify(updateObj)
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    $('#overlay').addClass('active');
                    $('#modal_fail').addClass('active');
                    return;
                } else {
                    $('#modal_body').text('완료되었습니다.');
                    $('#overlay').addClass('active');
                    $('#modal_success').addClass('active');
                    //Common.goBackPage();
                    return;
                }
                return;
            });
        }
    }
</script>