<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <th:block th:insert="~{layout/common :: head}"></th:block>
    </head>
<style>
    @media screen and (max-width: 680px) {
    }
</style>
    <th:block th:insert="~{layout/common :: script}"></th:block>
    <div class="wrap" id="p05">
        <!-- 오버레이 처리 -->
        <div id="overlay"></div>

        <input type="hidden" id="member_id" th:value="${memberId}"/>
        <input type="hidden" id="error" th:value="${result}"/>

        <!-- 메인 -->
        <div id="main">
            <div id="header" class="">
                <div class="header-button">
                    <a onclick="javascript:back(); return false;" class="button-back"><img th:src="@{/assets/img/icon-arrow_left.svg}" src="" alt=""></a>
                </div>
            </div>

            <!-- 바디 -->
            <div id="body" class="onboarding">
                <div class="inner">
                    <!-- 앱 타이틀 -->
                    <div class="app-title mt-20">
                        <div class="fz24 fw600 color-black">비밀번호 변경</div>
                    </div>

                    <!-- 앱 내용 -->
                    <div class="app-content">
                        <div class="form-insert">
                            <div class="item-input">
                                <div class="input-text">비밀번호</div>
                                <input id="password" class="" type="password" placeholder="변경할 비밀번호를 입력해주세요.">
                            </div>
                            <div class="item-input">
                                <div class="input-text">비밀번호 확인</div>
                                <input id="password_again" class="" type="password" placeholder="비밀번호를 한 번 더 입력해주세요.">
                                <div id="diff_password" class="text-notice error">비밀번호가 다릅니다.</div>
                            </div>
                        </div>
                        <div class="form-submit">
                            <div class="item-checkbox mt-45">
                                <div class="login-button mt-15">
                                    <a onclick="javascript:changePassword(); return false;" class="button bg-color-primary"><span class="color-white">확인</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 푸터 -->
                <div id="footer"></div>
            </div>

            <!-- 팝업 -->
            <div id="modal_error" class="popup popup-my_info "> <!-- 팝업 활성화 class "active" -->
                <div class="popup-inner">
                    <div class="popup-header">
                        <div id="modal_title" class="popup-title"></div>
                        <!--
                        <div class="btn-close_popup"><img th:src="@{/assets/img/icon-close.svg}" src="" alt=""></div>
                        -->
                    </div>
                    <div class="popup-body">
                        <div class="form-insert">
                            <div class="item-input">
                                <div id="modal_mid_title" class="input-text">회원가입 실패</div>
                            </div>
                            <div class="item-input">
                                <div id="modal_error_message"class="input-text">이미 가입되어 있습니다. 로그인을 해주세요.</div>
                            </div>
                        </div>
                    </div>
                    <div class="popup-footer">
                        <a onclick="javascript:closeModal();" class="btn-ok_popup button bg-color-primary"><span class="color-white">확인</span></a>
                    </div>
                </div>
            </div>
        </div>


<script>


    function closeModal() {
        $('#overlay').removeClass('active');
        $('#modal_error').removeClass('active');
        Common.goPage("/login");
    }

    function changePassword() {
        let password = $('#password').val();
        let password_again = $('#password_again').val();
        if(!password || !password_again ) {
            $('#diff_password').addClass('active');
            return;
        }
        if(password != password_again) {
            $('#diff_password').addClass('active');
            return;
        }
        let memberId = $('#member_id').val();
        if(!memberId || memberId <= 0) {
            alert('비밀번호를 변경할 수 없습니다.');
            return false;
        }
        Service.changePassword(password);
    }

    $(function(){
        var loginResult = $('#error').val();
        if(loginResult) {
            if(loginResult.startsWith('not found user')) {
                $('#modal_title').text('실패');
                $('#modal_mid_title').text('계정 찾기 실패');
                $('#modal_error_message').text('찾으시는 아이디가 존재하지 않습니다.');
                $('#overlay').addClass('active');
                $('#modal_error').addClass('active');
            } else {

            }
        }
    });

    let Service = {
        changePassword : function (password) {
            let obj = {};
            obj.password = password;
            var url = "/api/user/v1/member/"+$('#member_id').val()+"/change/password";
            var ajaxParam = {
                "url": url,
                "type": "PUT",
                "data": JSON.stringify(obj)
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert(data.message);
                    return;
                } else {
                    //alert(data.message);
                    alert(data.message);
                    Common.goPage("/");
                }
                return;
            });
        }

    }


</script>