<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <th:block th:insert="~{layout/common :: head}"></th:block>
    </head>
<style>
    @media screen and (max-width: 680px) {
    }
</style>

<div class="wrap" id="a11">
    <!-- 오버레이 처리 -->
    <div id="overlay"></div>

    <!-- 컨테이너 -->
    <div id="container">
        <!-- 내비게이션 바 -->
        <th:block th:insert="~{layout/common :: navbar}"></th:block>
    
        <!-- 메인 -->
        <div id="main">

            <div id="loading"><div class="round spinner"></div></div>

            <!-- 헤더 -->
            <th:block th:insert="~{layout/common :: header}"></th:block>
    
            <!-- 바디 -->
            <div id="body">
                <!-- 콘텐트 -->
                <div class="content-wrapper">
                    <!-- 콘텐트 헤더 -->
                    <div class="content-header">
                        <div class="content-title">
                            <!--
                            <span class="ct-text">차량 <span class="search-count"th:text="${#numbers.formatInteger(page.totalElements , 0 , 'COMMA')}" >999,999,999</span>건이 검색되었습니다.</span>
                            -->
                        </div>
                        <div class="breadcrumb">
                            <a th:href="@{/}" class="bc-item">Home</a>
                            <a class="bc-item">설정</a>
                            <a th:href="@{/admin/config/guide_notification}" class="bc-item">공지사항 설정</a>
                        </div>
                    </div>
                    <!-- 콘텐트 바디 -->
                    <div class="content-body width-1920">
                        <!-- 테이블 아이템 01 -->
                        <div class="content-item">
                            <div class="content-item-header">
                                <div class="header-option">
                                    <div class="search-option">
                                        <span class="option-title">검색어</span>
                                        <input th:value="${param.search}" id="searchText" class="so_input" type="text" placeholder="입력하세요..">
                                    </div>
                                    <button id="btnSearch" class="ho_button btn-search hover01 ml-10">검색</button>
                                </div>
                                <div class="button-list">
                                    <button class="ho_button btn-notice hover01">관리자 공지 등록</button>
                                </div>
                                <div class="etc-option toggle-target">
                                    <div class="eo-icon hover01"><i class="xi-ellipsis-h"></i></div>
                                    <div class="eo-menus">
                                        <!--
                                        <div onclick="javascript:excelDownload(); return false;" class="btn-download_excel">엑셀 다운로드</div>
                                        -->
                                        <div class="view-option">
                                            <div class="vo-item toggle-select" onclick="javascript:searchSize(15); return false;">15개씩 보기</div>
                                            <div class="vo-item toggle-select" onclick="javascript:searchSize(30); return false;">30개씩 보기</div>
                                            <div class="vo-item toggle-select" onclick="javascript:searchSize(60); return false;">60개씩 보기</div>
                                            <div class="vo-item toggle-select" onclick="javascript:searchSize(120); return false;">120개씩 보기</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-item-body">
                                <div class="table-wrapper">
                                    <div class="table overflow-scroll">
                                        <div class="table-body">
                                            <div class="item-list ti-header">
                                                <div class="t-item">
                                                    <div class="td center-align toggle-target" data-width="5">번호</div>
                                                    <div class="td center-align toggle-target" data-width="40">공지 내용</div>
                                                    <div class="td center-align toggle-target" data-width="25">작성자(아이디)</div>
                                                    <div class="td center-align toggle-target" data-width="10">브랜드</div>
                                                    <div class="td center-align toggle-target" data-width="10">모델(상세모델)</div>
                                                    <div class="td center-align toggle-target" data-width="10">등급(트림)</div>
                                                </div>
                                            </div>
                                            <div class="item-list ti-standard">
                                                <div th:each="item, stat : ${content}" th:id="${item.id}" class="t-item">
                                                    <div th:text="${#numbers.formatInteger(item.id , 0 , 'COMMA')}" th:attr="data-id=${item.id}" class="td center-align t-col">00000000</div>
                                                    <div th:text="${item.body}" th:attr="data-id=${item.id}" class="td center-align t-col"></div>
                                                    <div th:text="${item.writer.name + '(' + item.writer.emailAddress + ')'}" th:attr="data-id=${item.id}" class="td center-align t-col"></div>
                                                    <div th:text="${item.carManufacturerName}" th:attr="data-id=${item.id}" class="td center-align t-col"></div>
                                                    <div th:text="${item.carModelName + '(' + item.carModelDetailName + ')'}" th:attr="data-id=${item.id}" class="td center-align t-col"></div>
                                                    <div th:text="${item.carClassName}" th:attr="data-id=${item.id}" class="td center-align t-col"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="page" th:value="${page.page}">
                                    <input type="hidden" id="size" th:value="${page.size}">
                                    <input type="hidden" id="sort" th:value="${page.sort}">
                                    <input type="hidden" id="direction" th:value="${page.direction}">
                                    <input type="hidden" id="search" th:value="${search}">
                                    <div th:if="${page.totalPages > 0}" class="table-pagination">
                                        <!--
                                        <a th:if="${page.page != 1}" th:href="@{/admin/member(page=${page.page - 1}, size=${page.size})}"
                                           class="tp-first"><img th:src="@{/assets/img/icon-arrow_left2.png}"  alt=""></a>
                                        -->
                                        <a th:if="${page.isFirst == false}"
                                           th:href="@{/admin/config/guide_notification(page=${page.page - 1}, size=${page.size}, search=${param.search})}"
                                           class="tp-prev"><img th:src="@{/assets/img/icon-arrow_left.png}"  alt=""></i></a>

                                        <div class="tp-nav">
                                            <a th:each="item, stat : ${ #numbers.sequence(page.startPage, page.endPage)}"
                                               th:classappend="${item == page.page+1 ? 'active' : ''}"
                                               th:href="@{/admin/config/guide_notification(page=${item-1}, size=${page.size}, search=${param.search})}"
                                               th:text="${item}"
                                               class="pg_num">1</a>
                                        </div>
                                        <a th:if="${page.isLast == false}"
                                           th:href="@{/admin/config/guide_notification(page=${page.page + 1}, size=${page.size}, search=${param.search})}"
                                           class="tp-next"><img th:src="@{/assets/img/icon-arrow_right.png}" alt=""></i></a>
                                        <!--
                                        <a class="tp-last"><img th:src="@{/assets/img/icon-arrow_right2.png}"  alt=""></i></a>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- 푸터 -->
            <th:block th:insert="~{layout/common :: footer}"></th:block>
        </div>
    </div>

    <!-- 팝업 -->
    <div class="modal">
        <!-- 신규 관리자 공지 등록 모달 -->

        <!-- 관리자 공지 모달 -->
        <div class="modal-wrapper main-modal modal-notice width-400">
            <div class="modal-header">
                <div class="modal-title">
                    <span class="mt-text">관리자 공지 8</span>
                </div>
            </div>

            <div class="modal-content">
                <div class="content-item flex-row-3 mt-15">
                    <div class="modal-item">
                        <div class="modal-item_title">브랜드</div>
                        <input id="guide_notification_id" type="hidden" >
                        <div class="modal-item_content border-box">
                            <select class="mi_select" name="" id="car_manufacturer_select">
                                <option value="ALL">전체</option>
                                <option th:each="item, stat : ${car_manufacturer_list}"
                                        th:value="${item.id}"
                                        th:text="${item.nameKr}"
                                ></option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-item">
                        <div class="modal-item_title">모델(상세)</div>
                        <div class="modal-item_content border-box">
                            <select class="mi_select" name="" id="car_model_select">
                                <option value="ALL">전체</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-item">
                        <div class="modal-item_title">등급</div>
                        <div class="modal-item_content border-box">
                            <select class="mi_select" name="" id="car_class_select">
                                <option value="ALL">전체</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-item">
                        <div class="modal-item_title">트림</div>
                        <div class="modal-item_content border-box">
                            <select class="mi_select" name="" id="car_trim_select">
                                <option value="ALL">전체</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="content-item mt-5">
                    <div class="modal-item">
                        <div class="modal-item_title">공지사항</div>
                        <div class="modal-item_content border-box">
                            <input id="modal_body" class="mi_input" type="text" placeholder="공지 내용">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSaveNoti" class="mf_button btn-save hover01">저장</button>
                <button id="btnDeleteNoti" class="mf_button btn-delete hover01">삭제</button>
                <button class="mf_button btn-close_modal hover02">닫기</button>
            </div>

            <div class="top-close btn-close_modal"><i class="xi-close"></i></div>
        </div>
    </div>


</div>

<script>
    let search = "";
    let page = "";
    let size = "";
    let servletPath = `/admin/config/guide_notification`;
    function clearAllSelect() {
        clearCarManufacturerSelect();
        clearCarModelSelect();
        clearCarClassSelect();
        clearCarTrimSelect();
    }
    function clearCarManufacturerSelect() {
        $('#car_manufacturer_select').empty();
        let option = `<option value="ALL">전체</option>`;
        $('#car_manufacturer_select').append(option);
    }
    function clearCarModelSelect() {
        $('#car_model_select').empty();
        let option = `<option value="ALL">전체</option>`;
        $('#car_model_select').append(option);
    }
    function clearCarClassSelect() {
        $('#car_class_select').empty();
        let option = `<option value="ALL">전체</option>`;
        $('#car_class_select').append(option);
    }
    function clearCarTrimSelect() {
        $('#car_trim_select').empty();
        let option = `<option value="ALL">전체</option>`;
        $('#car_trim_select').append(option);
    }

    $(function(){
        //$('.ti-standard .t-item').on('click', activeModal_Notice);
        $('.ti-standard .t-item .t-col').click(function () {
            activeModal_Notice($(this).attr('data-id'));
        });
        $('.btn-notice').on('click', activeModal_EnrollNotice);

        $('#btnSearch').click(function () {
            search = $('#searchText').val();
            searchValue();
        });

        $('.btn-close_modal').click(function () {
            Common.reloadPage();
        });

        $('#btnDeleteNoti').click(function () {
            let notiId = $('#guide_notification_id').val();
            Service.deleteGuideNotification(notiId, function (data) {
                Common.reloadPage();
            });
        });

        $('#btnSaveNoti').click(function () {
            let notiObj = {};
            notiObj.body = $('#modal_body').val();
            notiObj.title = $('#modal_body').val();
            notiObj.carManufacturerId = $('#car_manufacturer_select option:selected').val();
            if(notiObj.carManufacturerId == 'ALL') {
                notiObj.carManufacturerId = '';
            }
            notiObj.carModelId = $('#car_model_select option:selected').val();
            if(notiObj.carModelId == 'ALL') {
                notiObj.carModelId = '';
            }
            notiObj.carClassId = $('#car_class_select option:selected').val();
            if(notiObj.carClassId == 'ALL') {
                notiObj.carClassId = '';
            }
            notiObj.carTrimId = $('#car_trim_select option:selected').val();
            if(notiObj.carTrimId == 'ALL') {
                notiObj.carTrimId = '';
            }
            console.log(notiObj);

            Service.saveGuideNotification(notiObj, function (data) {
                Common.reloadPage();
            });

        });

        $('#car_manufacturer_select').change(function () {
            clearCarModelSelect();
            clearCarClassSelect();
            clearCarTrimSelect();
            let carManufacturerId = $('#car_manufacturer_select option:selected').val();
            if(carManufacturerId == 'ALL') {

            } else {
                Service.getCarModels(carManufacturerId, function (data) {
                    console.log(data);
                    data.forEach(function (item, index) {
                        let option = `<option value="${item.id}">${item.name}(${item.nameDetail})</option>`;
                        $('#car_model_select').append(option);
                    });
                });
            }
        });
        $('#car_model_select').change(function () {
            clearCarClassSelect();
            clearCarTrimSelect();
            let carModelId = $('#car_model_select option:selected').val();
            if(carModelId == 'ALL') {

            } else {
                Service.getCarClasses(carModelId, function (data) {
                    data.forEach(function (item, index) {
                        let option = `<option value="${item.id}">${item.name}</option>`;
                        $('#car_class_select').append(option);
                    });
                });
            }
        });
        $('#car_class_select').change(function () {
            clearCarTrimSelect();
            let carClassId = $('#car_class_select option:selected').val();
            if(carClassId == 'ALL') {

            } else {
                Service.getCarTrims(carClassId, function (data) {
                    data.forEach(function (item, index) {
                        let option = `<option value="${item.id}">${item.name}</option>`;
                        $('#car_trim_select').append(option);
                    });
                });
            }
        });


    });

    function activeModal_Notice(notiId){
        $('#btnDeleteNoti').show();
        $('#btnSaveNoti').hide();
        Service.getNotiDetail(notiId, function (data) {
            clearAllSelect();
            $('#guide_notification_id').val(data.id);
            $('#modal_body').val(data.body);

            if(data.carManufacturerName != 'ALL') {
                let option = `<option value="${data.carManufacturerId}">${data.carManufacturerName}</option>`;
                $('#car_manufacturer_select').append(option);
            }

            if(data.carModelDetailName != 'ALL') {
                let option = `<option value="${data.carModelId}">${data.carModelName}(${data.carModelDetailName})</option>`;
                $('#car_model_select').append(option);
            }
            if(data.carClassName != 'ALL') {
                let option = `<option value="${data.carClassId}">${data.carClassName}</option>`;
                $('#car_class_select').append(option);
            }
            if(data.carTrimName != 'ALL') {
                let option = `<option value="${data.carTrimId}">${data.carTrimName}</option>`;
                $('#car_trim_select').append(option);
            }

            openLayer();
            $('.modal-notice').addClass('active');
        });

    }
    function activeModal_EnrollNotice(){
        $('#btnDeleteNoti').hide();
        $('#btnSaveNoti').show();
        $('#modal_body').val('');
        openLayer();
        $('.modal-notice').addClass('active');
    }

    function searchSize(innserSize) {
        size = innserSize;
        page = $('#page').val();
        searchPage();
    }

    function searchValue(search) {
        search = search;
        page = $('#page').val();
        size = $('#size').val();
        searchPage();
    }
    function searchPage() {
        let url = `/admin/config/guide_notification?page=${page}&size=${size}&search=${search}`;
        Common.goPage(url);
    }

    function excelDownload() {
        let url = `/admin/config/car/excel/download?page=` + $('#page').val() + `&size=`+ $('#size').val();
        if($('#search').val()) {
            url += '&search=' + $('#search').val();
        }
        Common.goPage(url);
    }
    function initCheckListModalData() {
        $('#modal_question').val('');
        $('#modal_price').val('');
        $('#check_list_id').val('');
    }
    function closeCheckListModal() {
        $('.modal-check_list').removeClass('active');
    }
    let Service = {

        saveGuideNotification: function (obj, _func) {
            var url = `/api/admin/v1/config/guide_notification`;
            var ajaxParam = {
                "url": url,
                "type": "POST",
                "data": JSON.stringify(obj)
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert('fail');
                } else {
                    _func(data.data);
                }
                return;
            });
        },
        deleteGuideNotification: function (notiId, _func) {
            var url = `/api/admin/v1/config/guide_notification/${notiId}`;
            var ajaxParam = {
                "url": url,
                "type": "DELETE",
                "data": ""
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert('fail');
                } else {
                    _func(data.data);
                }
                return;
            });
        },
        getNotiDetail: function (guideNotiId, _func) {
            var url = `/api/admin/v1/config/guide_notification/${guideNotiId}`;
            let obj = {};
            var ajaxParam = {
                "url": url,
                "type": "GET",
                "data": ""
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert('fail');
                } else {
                    _func(data.data);
                }
                return;
            });
        },
        getCarModels: function (carManufacturerId, _func) {
            var url = `/api/admin/v1/car_manufacturer/${carManufacturerId}/car_model`;
            let obj = {};
            var ajaxParam = {
                "url": url,
                "type": "GET",
                "data": ""
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert('fail');
                } else {
                    _func(data.data);
                }
                return;
            });
        },
        getCarClasses: function (carModelId, _func) {
            var url = `/api/admin/v1/car_model/${carModelId}/car_class`;
            let obj = {};
            var ajaxParam = {
                "url": url,
                "type": "GET",
                "data": ""
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert('fail');
                } else {
                    _func(data.data);
                }
                return;
            });
        },
        getCarTrims: function (carClassId, _func) {
            var url = `/api/admin/v1/car_class/${carClassId}/car_trim`;
            let obj = {};
            var ajaxParam = {
                "url": url,
                "type": "GET",
                "data": ""
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert('fail');
                } else {
                    _func(data.data);
                }
                return;
            });
        },
        saveBasePrice: function (price, _func) {
            var url = `/api/admin/v1/config`;
            let obj = {};
            obj.configType = "CHECK_LIST_BASE_PRICE";
            obj.value = price;
            var ajaxParam = {
                "url": url,
                "type": "POST",
                "data": JSON.stringify(obj)
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert(data.message);
                    return;
                } else {
                    _func(data.data);
                }
                return;
            });
        },
        orderDownCheckList: function (id, _func) {
            var url = `/api/admin/v1/check_list/${id}/order/down`;
            let obj = {};
            var ajaxParam = {
                "url": url,
                "type": "PUT",
                "data": ""
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert(data.message);
                    return;
                } else {
                    _func(data.data);
                }
                return;
            });
        },
        orderUpCheckList: function (id, _func) {
            var url = `/api/admin/v1/check_list/${id}/order/up`;
            let obj = {};
            var ajaxParam = {
                "url": url,
                "type": "PUT",
                "data": ""
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert(data.message);
                    return;
                } else {
                    _func(data.data);
                }
                return;
            });
        },
        publishCheckList: function (id, published, _func) {
            var url = `/api/admin/v1/check_list/${id}/published`;
            let obj = {};
            obj.published = published;
            var ajaxParam = {
                "url": url,
                "type": "PUT",
                "data": JSON.stringify(obj)
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert(data.message);
                    return;
                } else {
                    _func(data.data);
                }
                return;
            });
        },
        getCheckListDetail: function (id, _func) {
            var url = `/api/admin/v1/check_list/${id}`;
            var ajaxParam = {
                "url": url,
                "type": "GET",
                "data": ""
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert(data.message);
                    return;
                } else {
                    _func(data.data);
                }
                return;
            });
        },
        modifyCheckList: function (id, question, price, _func){
            let obj = {};
            obj.question = question;
            obj.price = price;
            var url = `/api/admin/v1/check_list/${id}`;
            var ajaxParam = {
                "url": url,
                "type": "PUT",
                "data": JSON.stringify(obj)
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert(data.message);
                    return;
                } else {
                    _func(data.data);
                }
                return;
            });
        },
        createCheckList: function (question, price, _func){
            let obj = {};
            obj.question = question;
            obj.price = price;
            var url = "/api/admin/v1/check_list";
            var ajaxParam = {
                "url": url,
                "type": "POST",
                "data": JSON.stringify(obj)
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert(data.message);
                    return;
                } else {
                    _func(data.data);
                }
                return;
            });
        },
        createCarColor: function (color) {
            let obj = {};
            var url = "/api/admin/v1/car_color";
            obj.color = color;
            var ajaxParam = {
                "url": url,
                "type": "POST",
                "data": JSON.stringify(obj)
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert(data.message);
                    return;
                } else {
                    let innerHtml = "";
                    innerHtml += `<div class="tag" name="carColor" color-id="${data.data.id}">${data.data.color}</div>`;
                    $('#car_color').append(innerHtml);
                    $('#in_car_color').val('');
                }
                return;
            });
        },
        getCarColors: function () {
            let obj = {};
            var url = "/api/admin/v1/car_color";
            var ajaxParam = {
                "url": url,
                "type": "GET",
                "data": ""
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert(data.message);
                    return;
                } else {

                    $('#car_color').empty();
                    for (let i = 0; i < data.data.length; i++) {
                        let inner = data.data[i];
                        let innerHtml = "";
                        innerHtml += `<div class="tag" name="carColor" color-id="${inner.id}">${inner.color}</div>`;
                        $('#car_color').append(innerHtml);
                    }
                    openLayer();
                    $('.modal-setting_color').addClass('active');
                }
                return;
            });
        },


    }


</script>