<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <th:block th:insert="~{layout/common :: head}"></th:block>
    </head>
<style>
    @media screen and (max-width: 680px) {
    }
</style>
    <th:block th:insert="~{layout/common :: script}"></th:block>


    <div class="wrap" id="alert">
        <!-- 오버레이 처리 -->
        <div id="overlay"></div>

        <!-- 메인 -->
        <div id="main">
            <div id="header" class="">
                <div class="header-button">
                    <a onclick="javascript:Common.goBackPage(); return false;" class="button-back"><img th:src="@{/assets/img/icon-arrow_left.svg}" src="assets/img/icon-arrow_left.svg" alt=""></a>
                </div>
            </div>

            <!-- 바디 -->
            <div id="body" class="home">
                <div class="inner">
                    <!-- 앱 내용 -->
                    <div class="form-post">
                        <div class="post-header">
                            <div th:text="${data.title}" class="title">123가1234 가이드가 도착했습니다.</div>
                            <div th:text="${#temporals.format(data.createdAt, 'yyyy.MM.dd')}" class="date">2020.04.23</div>
                        </div>
                        <div class="post-body">
                            <textarea id="noti_body" th:if="${data.notificationType.name() == 'TEXT'}" th:value="${data.body}" th:text="${data.body}"></textarea>
                            <div id="noti_body" th:if="${data.notificationType.name() == 'HTML'}" th:value="${data.body}" th:utext="${data.body}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 팝업 -->
        <div class="popup"></div>
    </div>




<script>
    function closeModal() {
        $('#overlay').removeClass('active');
        $('.popup-change_password').removeClass('active');
        $('.popup-my_info').removeClass('active');
    }
    function showMyInfoModal() {
        Service.getMemberDetail();
    }
    function updateMyInfo() {
        if(!$.notnull($('#modal_member_name') , '이름'))
            return false;
        if(!$.notnull($('#modal_member_group_name') , '소속'))
            return false;
        if(!$.notnull($('#modal_member_position') , '직위'))
            return false;
        Service.updateMyInfo();
    }
    function changePassword() {
        Common.goPage('/user/mypage/change/password');
    }

    $(function(){

    });
    let Service = {
        updateMyInfo: function () {
            var url = "/api/user/v1/member";
            let updateObj = {};
            updateObj.name = $('#modal_member_name').val();
            updateObj.groupName = $('#modal_member_group_name').val();
            updateObj.position = $('#modal_member_position').val();
            var ajaxParam = {
                "url": url,
                "type": "PUT",
                "data": JSON.stringify(updateObj)
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert(data.message);
                    return;
                } else {
                    $('#member_name').text(data.data.name + ' ' + data.data.position);
                    $('#member_name_one').text(data.data.name);

                    $('#member_phone').text(data.data.phone);
                    $('#member_phone_one').text(data.data.phone);
                    $('#member_group').text(data.data.groupName + ' ' + data.data.branch);
                    $('#overlay').removeClass('active');
                    $('.popup-my_info').removeClass('active');
                    return;
                }
                return;
            });
        },

    }
</script>