<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <th:block th:insert="~{layout/common :: head}"></th:block>
    </head>
<style>
    @media screen and (max-width: 680px) {
    }
</style>

<div class="wrap" id="a01">
    <!-- 오버레이 처리 -->
    <div id="overlay"></div>

    <!-- 컨테이너 -->
    <div id="container">
        <!-- 내비게이션 바 -->
        <th:block th:insert="~{layout/common :: navbar}"></th:block>
    
        <!-- 메인 -->
        <div id="main">
            <div id="loading"><div class="round spinner"></div></div>

            <!-- 헤더 -->
            <th:block th:insert="~{layout/common :: header}"></th:block>
    
            <!-- 바디 -->
            <div id="body">
                <!-- 콘텐트 -->
                <div class="content-wrapper">
                    <!-- 콘텐트 헤더 -->
                    <!--
                    <div class="content-header">
                        <div class="content-title">
                            <span class="ct-text">공지사항 <span class="search-count">999,999,999</span>건이 검색되었습니다.</span>
                        </div>
                        <div class="breadcrumb">
                            <a class="bc-item">Home</a>
                            <a class="bc-item">공지사항</a>
                            <a class="bc-item">공지사항 상세</a>
                        </div>
                    </div>
                    -->
                    <!-- 콘텐트 바디 -->
                    <div class="content-body width-1200">
                        <!-- 메인 아이템 01 -->
                        <div class="content-item">
                            <div class="content-item-header">
                                <span class="cih-title">Today <span class="current-date" th:text="${today}">2021년 6월 3일</span></span>
                            </div>
                            <div class="content-item-body inner flex-row-3">
                                <div class="main-data-item flex-between">
                                    <div class="mdi-tit">가이드 요청</div>
                                    <div class="mdi-desc">
                                        <div class="md-item"><span class="mdid-num" id="guide_request_cnt"></span>건</div>
                                    </div>
                                </div>
                                
                                <div class="main-data-item flex-between">
                                    <div class="mdi-tit">가이드 완료</div>
                                    <div class="mdi-desc">
                                        <div class="md-item"><span class="mdid-num" id="guide_finish_cnt" ></span>건</div>
                                    </div>
                                </div>
                                
                                <div class="main-data-item flex-between">
                                    <div class="mdi-tit">가이드 진행중</div>
                                    <div class="mdi-desc">
                                        <div class="md-item"><span class="mdid-num" id="guide_ing_cnt"  ></span>건</div>
                                    </div>
                                </div>
                                
                                <div class="main-data-item flex-between">
                                    <div class="mdi-tit">매입</div>
                                    <div class="mdi-desc">
                                        <div class="md-item"><span class="mdid-num" id="guide_buy_cnt" ></span>건</div>
                                        <div class="md-item"><span class="mdid-num" id="guide_buy_money"></span>만원</div>
                                    </div>
                                </div>
                                
                                <div class="main-data-item flex-between">
                                    <div class="mdi-tit">판매중</div>
                                    <div class="mdi-desc">
                                        <div class="md-item"><span class="mdid-num"  id="guide_selling_cnt" ></span>건</div>
                                    </div>
                                </div>
                                
                                <div class="main-data-item flex-between">
                                    <div class="mdi-tit">매각</div>
                                    <div class="mdi-desc">
                                        <div class="md-item"><span class="mdid-num" id="guide_sell_cnt"></span>건</div>
                                        <div class="md-item"><span class="mdid-num" id="guide_sell_money"></span>만원</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 메인 아이템 02 -->
                        <div class="content-item">
                            <div class="content-item-header">
                                <span class="cih-title">Week <span class="current-date"th:text="${year + '년 ' + month + '월'}">2021년 6월</span></span>
                            </div>
                            <div class="content-item-body inner flex-row-2">
                                <div class="main-data-item">
                                    <div class="mdi-tit">가이드</div>
                                    <div class="chart ct01">
                                        <div class="graph" id="item-graph01"></div>
                                    </div>
                                </div>
                                
                                <div class="main-data-item">
                                    <div class="mdi-tit">판매</div>
                                    <div class="chart ct02">
                                        <div class="graph" id="item-graph02"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- 푸터 -->
            <div id="footer"></div>
        </div>
    </div>

    <!-- 팝업 -->
    <div class="popup"></div>
</div>

<script>

    let chart1;
    let chart2;
    let chart1Map = new Map();
    let chart2Map = new Map();

    $(function(){
        // 초기화
        /*
        $('#header').load("layout/header.html");
        $('#navbar').load("layout/navbar.html");
        $('#footer').load("layout/footer.html");
         */
        // 차트 01
        chart1 = c3.generate({
            bindto: "#item-graph01",
            size: {
                height: 250
            },
            data: {
                columns: [
                    ["요청", 0, 0, 0, 0, 0],
                    ["완료", 0, 0, 0, 0, 0],
                ],
                types: {
                    완료: "bar",
                    요청: "bar",
                },
                colors: {
                    완료: "#ffe082",
                    요청: "#ffc000",
                },
                labels: {
                    format: {
                        // 매입: function (v, id, i, j) { return v + "건"; },
                        // 요청: function (v, id, i, j) { return v + "건"; },
                    }
                },
                groups: [
                    ['완료', '요청']
                ]
            },
            tooltip: {
                contents: function (d, defaultTitleFormat, defaultValueFormat, color) {

                    var $$ = this, config = $$.config,
                        titleFormat = config.tooltip_format_title || defaultTitleFormat,
                        nameFormat = config.tooltip_format_name || function (name) { return name; },
                        valueFormat = config.tooltip_format_value || defaultValueFormat,
                        text, i, title, value, name, bgcolor;
                    for (i = 0; i < d.length; i++) {
                        if (! (d[i] && (d[i].value || d[i].value === 0))) { continue; }

                        if (! text) {
                            title = titleFormat ? titleFormat(d[i].x) : d[i].x;
                            text = "<table class='" + $$.CLASS.tooltip + "'>" + (title || title === 0 ? "<tr><th colspan='2'>" + title + "</th></tr>" : "");
                        }

                        name = nameFormat(d[i].name);
                        value = valueFormat(d[i].value, d[i].ratio, d[i].id, d[i].index);
                        bgcolor = $$.levelColor ? $$.levelColor(d[i].value) : color(d[i].id);

                        text += "<tr class='" + $$.CLASS.tooltipName + "-" + d[i].id + "'>";
                        text += "<td class='name'><span style='background-color:" + bgcolor + "'></span>" + name + "</td>";
                        text += "<td class='value'>" + value + "건 </td>";
                        text += "</tr>";
                    }
                    //console.log('d -> ' + d);
                    //chart1Map.set(innerData.index + "_buy_cnt" , innerData.buyCnt);
                    //chart1Map.get()
                    /*
                    text += "<tr class='total'>";
                    text += "<td class='name'>" + '매입' + "</td>";
                    text += "<td class='value'>" + '9,990' + "건 </td>";
                    text += "</tr>";

                    text += "<tr class='total'>";
                    text += "<td class='name'></td>";
                    text += "<td class='value'>" + '9,990' + "원 </td>";
                    text += "</tr>";
                    */

                    return text + "</table>";
                }
            },
            bar: {
                width: {
                    ratio: 0.4,
                },
            },
            transition: {
                duration: 1000
            },
            padding: {
                bottom: 0
            },
            axis: {
                x: {
                    show: true,
                    type: "category",
                    categories: ['1st', '2nd', '3rd', '4th', '5th']
                },
                y: {
                    show: false,
                    max: 100,
                    min: 0,
                    padding: {
                        bottom: 0
                    }
                }
            },
            legend: {
                show: false
            }
            
        });

        // 차트 02
        chart2 = c3.generate({
            bindto: "#item-graph02",
            size: {
                height: 250
            },
            data: {
                columns: [
                    ["판매중", 0, 0, 0, 0, 0],
                    ["매각", 0, 0, 0, 0, 0],
                ],
                types: {
                    매각: "bar",
                    판매중: "bar",
                },
                colors: {
                    매각: "#82d8a9",
                    판매중: "#00b050",
                },
                labels: {
                    format: {
                        // 매입: function (v, id, i, j) { return v + "건"; },
                        // 요청: function (v, id, i, j) { return v + "건"; },
                    }
                },
                groups: [
                    ['매각', '판매중']
                ]
            },
            tooltip: {
                format: {
                    title: function (d) { return 'data ' + d; },
                    value: function (value, ratio, id) {

                        //console.log("" + value + " , " + ratio + " , " + id);

                        var format = id === '매각' ? '건' : '건';
                        return value + format;
                    },
                }
            },
            bar: {
                width: {
                    ratio: 0.4,
                },
            },
            axis: {
                x: {
                    show: true,
                    type: "category",
                    categories: ['1st', '2nd', '3rd', '4th', '5th']
                },
                y: {
                    show: false,
                    max: 100,
                    min: 0,
                    padding: {
                        bottom: 0
                    }
                }
            },
            legend: {
                show: false
            },
            transition: {
                duration: 1000
            },
        });
        /*
        setTimeout(function () {
            chart1.load({
                columns: [
                    ["요청", 20, 30, 50, 60, 70],
                    ["완료", 30, 35, 65, 80, 85],
                ],
            });
            chart2.load({
                columns: [
                    ["판매중", 20, 30, 50, 60, 70],
                    ["매각", 30, 35, 65, 80, 85],
                ],
            });
        }, 300);
         */

        Service.getC3Data();

    });

    let chart1_requestList = [];
    let chart1_finishList = [];
    let chart2_sellingList = [];
    let chart2_sellList = [];
    let obj = {};

    let Service = {
        getC3Data: function () {
            var url = "/api/admin/v1/dashboard";
            var ajaxParam = {
                "url": url,
                "type": "GET",
                "data": ""
            }
            Common.ajaxJSONV2(ajaxParam, function (data) {
                if (!data) {
                    alert('return data error');
                    return false;
                }
                if (data.result != 0) {
                    alert(data.message);
                    return;
                } else {
                    //alert(data.message);
                    chart1_requestList.push('요청');
                    chart1_finishList.push('완료');
                    chart2_sellingList.push('판매중');
                    chart2_sellList.push('매각');
                    console.log(data.data.weekly);
                    for (let i = 0; i < data.data.weekly.length; i++) {
                        let innerData = data.data.weekly[i];
                        /*
                        chart1_requestList.push((i+1) * 10);
                        chart1_finishList.push((i+1) * 10);
                        chart2_sellingList.push((i+1) * 10);
                        chart2_sellList.push((i+1) * 10);
                        */

                        chart1_requestList.push(innerData.requestCnt);
                        chart1_finishList.push(innerData.finishCnt);
                        chart2_sellingList.push(innerData.sellingCnt);
                        chart2_sellList.push(innerData.sellCnt);

                        chart1Map.set(innerData.index + "_buy_cnt" , innerData.buyCnt);
                        chart1Map.set(innerData.index + "_buy_money" , innerData.buyMoney);

                        //console.log(innerData.index + ' ' + innerData.requestCnt);
                    }
                    console.log('chart1_requestList ' + chart1_requestList);
                    console.log('chart1_finishList ' + chart1_finishList);
                    console.log('chart2_sellingList ' + chart2_sellingList);
                    console.log('chart2_sellList ' + chart2_sellList);
                    chart1.load({
                        columns: [
                            chart1_requestList,
                            chart1_finishList,
                        ],
                    });
                    chart2.load({
                        columns: [
                            chart2_sellingList,
                            chart2_sellList,
                        ],
                    });

                    $('#guide_request_cnt').text(Common.comma(Number(data.data.todayGuideRequestCnt) + Number(data.data.todayGuideFinishCnt)));
                    $('#guide_finish_cnt').text(Common.comma(data.data.todayGuideFinishCnt));
                    $('#guide_ing_cnt').text(Common.comma(data.data.todayGuideRequestCnt));
                    $('#guide_buy_cnt').text(Common.comma(data.data.todayGuideBuyCnt));
                    $('#guide_buy_money').text(Common.comma(data.data.todayGuideBuyMoney));
                    $('#guide_selling_cnt').text(Common.comma(data.data.todayGuideSellingCnt));
                    $('#guide_sell_cnt').text(Common.comma(data.data.todayGuideSellCnt));
                    $('#guide_sell_money').text(Common.comma(data.data.todayGuideSellMoney));

                }
                return;
            });
        },
    }

</script>